<h1>Listing Of Services</h1>

<!-- Main Area -->
<div id="main_area" style="margin-left: 50px; !important">

  <!--  <div class="span4" id="carousel-chosen-service-text">-->
  <!-- Slider -->
  <table>
    <thead>
    </thead>

    <tbody>
    <% @service_types.each do |service_type| %>
        <tr>
          <div class="row">
            <div class="span12" id="slider">
              <!-- Top part of the slider -->
              <div class="row">
                <div class="span4" id="carousel-text-<%= service_type.name %>">
                  <h2><%= service_type.name %></h2>
                </div>


                <div style="display: none;" id="slide-content">
                  <% @serviceMap[service_type.id].each do |service| %>
                      <div id="slide-content-<%= service.name %>">
                        <h2><%= service.name %></h2>
                      </div>
                  <% end %>
                </div>
              </div>

            </div>
          </div> <!--/Slider-->

          <div class="row hidden-phone" id="slider-thumbs">
            <div class="span12">
              <!-- Bottom switcher of slider -->
              <ul class="thumbnails">
                <% @serviceMap[service_type.id].each do |service| %>
                    <li class="span2">
                      <%= link_to placerequest_path(service.service_type_id, service.id), :remote => true do %>
                          <%= image_tag service.image_url, :class => 'service_image' %>
                          <div><%= service.name %></div>
                      <% end %>
                    </li>
                <% end %>
              </ul>
            </div>
          </div>
        </tr>
    <% end %>
    </tbody>
  </table>

</div>
