<% if (user_signed_in?) %>
<div class="navbar navbar-inverse" style="margin: 30px 0 40px 60px;">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="#"><i class="icon-home icon-white"></i> </a></li>
          <li class="divider-vertical"></li>
          <li class="active"><a href="<%= service_types_path %>"><i class="icon-file icon-white"></i> Services </a></li>
          <li class="divider-vertical"></li>
           <% if current_user.role == "1" %>
          <li><a href="<%= orders_path%>"><i class="icon-envelope icon-white"></i> My Orders </a></li>
          <li class="divider-vertical"></li>
          <% else %>
          <li><a href=""<%= orders_path%>""><i class="icon-signal icon-white"></i> View Orders </a></li>
          <li class="divider-vertical"></li>
          <% end %>
        </ul>
        <div class="btn-group pull-right">
          <div><%= current_user.name %></div>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => "btn") %>
        </div>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </div>
  <!--/.navbar-inner -->
</div>
    <% else %>
    <div>
    </div>
<% end %>