
<% 
   @pathToReturn = request.fullpath
%>

<div class="popupHolder" id = "modal">
    <header class="popup-header row-fluid">
      <div class="closeBtn"><a href="<%= @pathToReturn %>">X</a></div>
      <div class="span6">
        <p class="popup-backlinks">&nbsp;</p>
        <h2 class="popup-title"></h2>
      </div>
    </header>
    <section  id="modal-body" class="popup-content">
    </section>
    <footer class="popup-footer">
      <%= link_to @pathToReturn , :class=>"btnGray" do %>
          <%= image_tag('/images/spacer.gif', :class =>"icon_delete") %> Cancel
      <% end %>
      <%= link_to :class=>"btnGreen", :onclick=> "$('form').submit()" do %>
          <%= image_tag('/images/spacer.gif', :class =>"icon_tick") %> Done
      <% end %>
     </footer>
</div>
<div id="modal-container" />
