<section class="span9">
  <header class="row-fluid sectionHeader">
    <div class="span6">
      <p class="backlinks">&nbsp;</p>
      <h2> Orders </h2>
    </div>
  </header>
  <div class="content">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-hover table-striped">
      <thead>
      <tr>
        <th>Status</th>
        <th>Title</th>
        <th>Service type</th>
        <th>Service</th>
        <th>Charge</th>
        <th>Actions</th>
      </tr>
      </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.Status %></td>
        <td><%= request.title %></td>
        <td><%= request.service_type.name %></td>
        <td><%= request.service.name %></td>
        <td><%= request.charge %></td>
        <td><%= link_to edit_request_path(request) do%>
              <%= image_tag('/images/spacer.gif', :class =>"icon_edit") %>
          <%end%>
          <% if (request.status == ApplicationHelper::RequestStatus::New) %>
          <%= link_to image_tag('/images/spacer.gif', :class =>'icon_delete') , request, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
    </table>
  </div>
</section>


<%= link_to 'New Request', new_request_path %>

