<%= form_for @request, :url => statusupdate_path(@request), :remote => true, :validate => true do |f| %>
    <% if @request.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

          <ul>
            <% @request.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <ul class="formFields">
        <%= f.fields_for :history, @request.History do |h| %>
          <li>
              <%= h.label :comments %>
              <%= h.text_area :comments, :class => "w70per" %>
          </li>

          <li>
            <%= h.hidden_field :status, :value => @status %>
          </li>
        <% end %>

        <li>
        <%= f.hidden_field :status, :value => @status %>
        </li>

  </ul>
<% end %>
