<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @request.status %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @request.customer %>
</p>

<p>
  <strong>Service type:</strong>
  <%= @request.service_type %>
</p>

<p>
  <strong>Service:</strong>
  <%= @request.service %>
</p>

<p>
  <strong>Resource:</strong>
  <%= @request.resource %>
</p>

<p>
  <strong>Charge:</strong>
  <%= @request.charge %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
