<div class="span4"></div>
<div class="span4" style=" background: #dfdfdf; padding: 10px; border-radius: 5px; margin-top: 20px;">
<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <table cellpadding="10">
  <tr>
  <td>
  <%= f.label :email %></td>
  <td><%= f.email_field :email, :autofocus => true %></td>
  </tr>
  </tr>
  <td ><%= f.label :password %></td><td><%= f.password_field :password %></td>
  </tr>
   <tr>
     <td></td>
    <td><input class="btn btn-success" type="submit" value="Sign In"/></td>
   </tr>

    </table>
<% end %>

<%= render "devise/shared/links" %>
</div>
<div class="span4"></div>
