<%= form_tag(resources_path,:method => 'post') %><!--  (:action=>"create", :controller=>"resources") %> -->

    <table class="formFields">

     <tr>

       <td>First Name </td>

        <td><%=text_field_tag "user[first_name]",@user.first_name, :class => "w70per" %></td>

      </tr>

      <tr>

        <td>Last Name</td>

        <td><%=text_field_tag "user[last_name]",@user.last_name, :class => "w70per" %></td>

      </tr>

      <tr>

        <td>Phone Number</td>

      <td><%=text_field_tag "user[phone_number]",@user.phone_number, :class => "w70per" %> </td>

     </tr>

      <tr>

        <td>Address</td>

        <td><%=text_area_tag "user[address]",@user.address, :class => "w70per" %> </td>

      </tr>
      <tr> <td>Select the services the resource provides :</td>

      <td><%= select_tag "services", grouped_options_for_select(@grouped_options), options = {:multiple => true, :size => 10 }%></td>

      </tr>


<td><%= submit_tag nil, :class => "form_submit"%></td>

    </table>

