<!DOCTYPE html>
<html>
<head>
  <title>Make my life easy</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <header class="row-fluid header">
    <%= render "shared/logo" %>

    <%= render "shared/userinfo" %>
  </header>
  <div class="row-fluid">
    <%= render "shared/menu" %>
    <%= yield %>
  </div>
  <%= render "shared/modal" %>
</body>
</html>
